.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0 0.5rem;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  width: 70%;
}
.salary-previsions {
  position: relative;
  bottom: 3rem;
  max-width: 100%;
  margin: auto;
}
.img-product {
  margin: auto;
  width: 18px !important;
  height: 18px !important;
}
.products p {
  font-weight: 600;
}
.products div {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.total p {
  text-align: center;
  font-weight: 600;
  margin: 4rem auto 0.5rem auto;
}
.envelopesTxt {
  display: flex;
  width: 150px;
  padding: 0 !important;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  border: none;
}
.envelopesTxt:hover {
  cursor: pointer;
  border: none !important;
}
.envelopesTxt:focus {
  border: none !important;
}
.btn-delete-envelope {
  position: relative;
  left: 4.5rem;
  top: 0.25rem;
}

@media screen and (min-width: 1600px) {
  .products-list {
    width: 70vw;
  }
}
@media screen and (min-width: 1200px) {
  .previsions {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1.5rem;
  }
  .products-list {
    margin-left: 20vw;
  }
}
@media screen and (max-width: 720px) {
  .products-list {
    flex-direction: column;
    margin: 0 auto;
  }
  .products {
    margin: 1rem auto;
    width: 200px;
  }
  .btn-delete-envelope {
    left: 5.3rem;
  }
  .salary-previsions {
    width: 100%;
    bottom: -2rem;
  }
}
@media screen and (max-width: 300px) {
  .btn-delete-envelope {
    left: 32vw;
  }
}