.transactions {
  margin-top: 5rem;
  margin-left: 12.5vw;
  max-width: 100%;
}
.transactions input {
  margin-left: 20px;
  background-color: aliceblue;
}

.create, .transfer, .update {
  text-align: center;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.update {
  display: none;
  font-weight: 600;
  width: 50vw;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: rgba(143, 142, 142, 0.466);
  color: black;
  z-index: 3;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1vw;
  position: fixed;
  bottom: 1vh !important;
  left: 25vw !important;
}

.update input {
  margin-left: 1rem;
  margin-right: 1rem;
}
.create input, .input-name, .input-amount {
  max-width: 150px;
}

@media  screen and (min-width: 1600px) {
  .transactions {
    margin: auto;
  }
}

@media screen and (max-width: 1600px) {
  .update input {
    margin: 5px;
  }
  .update button {
    margin: 5px auto;
  }
}
@media screen and (max-width: 999px) {
  .update {
    font-size: smaller !important;
    width: 95vw;
    left: 2.5vw !important;
    margin: 0 auto;
  }
}
@media screen and (max-width: 499px) {
  .transactions input {
    margin: 0.5rem ;
  }
  .create, .transfer {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 5px;
  }
  .transactions input, .transactions button {
    margin: 1rem auto;
  }
  .update p {
    font-size: 14px;
  }
  .update button {
    margin: 5px auto;
  }

}
@media screen and (max-width: 299px) {
  .update {
    width: 100vw !important;
    left: 0 !important;
    bottom: 0 !important;
    border-radius: 0;
  }
  .update input, .update .btn-form, .update p {
    font-size: 10px !important;
  }
  .update input {
    width: 70px;
  }
}